matplotlib==3.4.3
numpy==1.21.2
pandas==1.3.3
Pillow
python-dateutil==2.8.2
scikit-learn==0.24.2
scipy==1.7.1
seaborn==0.11.2
streamlit
torch==1.10.0
transformers
yfinance==0.1.63
Flask==1.1.4
Flask-SocketIO==5.1.0
tqdm==4.65.0

